<!DOCTYPE html>
<html>
  <head>
    <title>Undo/Redo Widget</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  </head>
  <body>

  <div class="container" id="widget">
    <!-- this will be the DOM element we will mount our VueJs instance to -->
	<div class="row">
		<div class="col-sm-4" style="background-color: gray">
			<div class="btn-group-vertical">
				<button v-bind:class="{ 'selected' : currentState[selection]}" 
						class="btn btn-primary" 
						@click="selectOption(selection)"
						v-for="(selection, index) in selections">
					{{ selection }} 
				</button>
			</div>
		</div>
		<div class="col-sm-4" style="margin-top: 10px;">
			<div class="btn-group">
				<button type="button" @click="undo()" class="btn btn-primary btn-sm">Undo</button>
				<button type="button" @click="redo()" class="btn btn-primary btn-sm">Redo</button>
			</div>
			<ul>
				<li v-for="state in states">
				{{ showState(state) }}
				</li>
			</ul>
			<ul>
				<li v-for="state in redoStates">
				{{ showState(state) }}
				</li>
			</ul>
		</div>
	</div>
	
  </div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

  	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.5/vue.min.js"></script>


  <script>
    var vm = new Vue({
      el: '#widget',
      data: {
      selections: ['Sunday','Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'],
      currentState: {
      	'Sunday': false,
      	'Monday': false, 
      	'Tuesday': false, 
      	'Wednesday': false, 
      	'Thursday': false, 
      	'Friday': false, 
      	'Saturday': false
      },
      stateIndex: 0,
      states: [],
      redoStates: []
    },
    mounted: function () {
    	
    },
    methods: {
		//handler for when user clicks on a list item
    	selectOption: function(selection) {
    		let saveState = Object.assign({}, this.currentState); //ECMAscript 6 solution to copying objects
    		this.states.push(saveState);
    		this.currentState[selection] = true;
    		this.redoStates = []; //set the redoStates to empty array, since new actions imply a movement beyond the past
     		console.log(this.states);
    	},
		// undo function, utilizes the state list
    	undo: function() {
    		if(this.states.length >= 1) {
    			let state = this.states.pop(); //pop off last state
    			this.redoStates.push(this.currentState); // place the currentState into the redoStates list
    			this.currentState = state; // set our current state to the state we had just popped off
    		}
    	},
		// redo function, utilizes the redoState list. Redo list gets emptied when the user adds a new state to this.state. 
    	redo: function() {
    		if(this.redoStates.length >= 1) {
    			let state = this.redoStates.pop(); // pop off the last state in the redoStates list
    			this.states.push(this.currentState); // place the currentState into the states list
    			this.currentState = state; //set our current state to the state we had just popped off
    		}
    	},
		showState(state) {
			let string = '';
			for(var prop in state) {
				if(state[prop] === true) {
					string += prop + ' ';
				}
			}
			if(string === '') {
				string = 'None selected'
			}
			return string;
		}
    }
    });
  </script>

  <style>
  	.selected {
  		color: red;
  	}
  </style>


  </body>
</html>